# .github/workflows/screenshot-bot.yml
on:
  workflow_run:
    workflows: [E2E Results] # <--- TODO
    types: [requested, completed]
  pull_request:
    types: [closed]

jobs:
  awake-screenshot-bot:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      pull-requests: write
    steps:
      - uses: taiga-family/argus@github-action-inputs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
